@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4e86d0 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #4e86d0;
  border-radius: 10px;
  border: 5px solid #2e6384;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .container {
    @apply xl:max-w-[1280px];
  }

  .container.main-props {
    @apply mx-auto px-3;
  }

  .bg_glassy {
    backdrop-filter: blur(12px);
  }

  :has(> input[type="file"]:focus) {
    @apply rounded border-0 ring-2 focus:ring-sky-300;
  }

  .nav_link {
    @apply flex items-center gap-1 rounded px-2 py-1.5 text-slate-600 hover:bg-gray-200/75 hover:underline md:min-w-[80px] md:justify-center md:py-2;

    &:hover span {
      @apply visible opacity-100;
    }

    .label {
      @apply text-center text-sm transition-all delay-200 md:invisible md:absolute md:bottom-0 md:min-w-full md:translate-y-[130%] md:rounded md:bg-slate-700/70 md:px-3 md:py-1 md:text-white md:opacity-0;

      &::after {
        content: "";
        position: absolute;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #6b7480 transparent;
        top: 0;
        left: 50%;
        translate: -50% -100%;
      }
    }

    &::after {
      content: "";
      border-radius: 6px 6px 0 0;
      @apply absolute bottom-0 left-0 right-0 h-[4px] bg-blue-400 opacity-0 transition-all;
    }

    &.active {
      @apply bg-slate-200/70 text-blue-400;
    }

    &.active::after {
      @apply opacity-100;
    }
  }

  .article {
    @apply flex w-full flex-col gap-2 rounded border border-blue-300 bg-white p-3 shadow-md shadow-blue-200/75 md:p-5;
  }

  .add_comment_form {
    @apply flex w-full max-w-full flex-wrap items-center justify-end rounded border border-blue-400 bg-slate-100;

    .submit_btn {
      @apply rounded border border-gray-200 bg-blue-500 px-3 py-1 text-center text-white hover:bg-blue-600 focus:outline-none focus:ring-[2.5px] focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-90;
    }

    textarea {
      @apply flex-shrink flex-grow resize-none rounded px-3 py-1 focus:outline-none;
    }

    textarea:focus {
      @apply bg-slate-100 outline-none;
    }

    &:has(textarea:focus) {
      @apply bg-slate-100;
    }

    &:has(textarea.active) {
      @apply gap-2 p-3;

      textarea {
        @apply max-h-28 w-full resize-y overflow-y-auto bg-slate-100 ring-[2.5px] ring-blue-400;
      }
    }
  }

  .drop_down {
    @apply absolute z-10 flex translate-y-[calc(100%_+_9px)] flex-col gap-1 rounded border-2 border-slate-300 bg-gray-100 p-1.5 shadow-md transition;
  }

  .drop_down_sm {
    @apply min-w-20 max-w-28;
  }

  .drop_down_md {
    @apply min-w-32 max-w-48;
  }

  .drop_down_lg {
    @apply min-w-56 max-w-60;
  }

  .absolute_bottom_center {
    @apply bottom-0 left-1/2 -translate-x-1/2 translate-y-[calc(100%_+_9px)];
  }

  .absolute_bottom_right {
    @apply bottom-0 left-0 translate-y-[calc(100%_+_9px)];
  }

  .absolute_bottom_left {
    @apply bottom-0 right-0 translate-y-[calc(100%_+_9px)];
  }

  .dropdown_item {
    @apply flex items-center gap-2 whitespace-nowrap rounded bg-white px-2 py-1 font-medium text-slate-700 shadow transition-all hover:bg-slate-50 hover:indent-1;
  }

  .drop_down_header {
    @apply overflow-hidden text-ellipsis whitespace-nowrap bg-white px-2 py-1 text-center font-semibold text-slate-500;
  }

  .search_input_wrapper:has(input:focus) {
    @apply bg-slate-100 ring-[2.5px] ring-blue-400;

    input,
    label {
      @apply bg-slate-100;
    }
  }

  .pagination_btn {
    @apply min-w-8 border border-blue-300 bg-gray-200/75 px-2 py-1 text-center hover:bg-blue-500 hover:text-white;

    &.active {
      @apply bg-blue-500 text-white hover:bg-blue-600 hover:text-slate-100;
    }
  }

  .comment_wrapper {
    @apply relative z-10;

    &::before {
      content: "";
      border-bottom-left-radius: 8px;
      border: 2.2px solid transparent;
      border-inline-start-color: #c8d1dc;
      border-block-end-color: #c8d1dc;
      @apply absolute left-[28px] top-[30px] -z-[1] h-1/2 w-1/2 md:left-[31px];
    }
  }

  .add_article_btn {
    @apply fixed bottom-20 right-8 z-20 flex aspect-square items-center justify-center rounded-full border border-blue-400 bg-white shadow-md transition hover:bg-slate-100 md:bottom-16 md:right-10;
  }

  .tooltip_wrapper {
    .tooltip {
      @apply invisible absolute z-10 min-w-24 rounded bg-gray-600/80 p-1 text-sm text-white opacity-0 transition delay-300;

      &.tooltip_center_top {
        @apply left-1/2 top-0 -translate-x-1/2 -translate-y-[calc(100%_+_10px)];

        &::after {
          content: "";
          position: absolute;
          border-width: 8px;
          border-style: solid;
          border-color: #6b7480 transparent transparent transparent;
          bottom: 0;
          left: 50%;
          translate: -50% 100%;
        }
      }

      &.tooltip_center_bottom {
        @apply bottom-0 left-1/2 -translate-x-1/2 translate-y-[calc(100%_+_10px)];

        &::after {
          content: "";
          position: absolute;
          border-width: 8px;
          border-style: solid;
          border-color: transparent transparent #6b7480 transparent;
          top: 0;
          left: 50%;
          translate: -50% -100%;
        }
      }
    }

    &:hover .tooltip {
      @apply visible opacity-100;
    }
  }

  .profile_section {
    background-image: linear-gradient(to bottom, #3f86e86b, transparent 350px);
  }

  .modal_wrapper {
    @apply fixed inset-0 z-[1200] flex max-h-dvh items-center justify-center bg-gray-700 bg-opacity-50 p-3 backdrop-blur-sm transition-all delay-200 duration-200;

    &.hide {
      @apply invisible translate-y-[110%] opacity-0;
    }

    &.show {
      @apply visible translate-y-0 opacity-100;
    }
  }

  .side_bar_link {
    @apply relative flex items-center gap-2 rounded bg-white text-base text-blue-400 hover:bg-slate-100 hover:underline;

    &.active {
      @apply border border-white bg-blue-400 text-white;
    }

    > span.absolute_right {
      @apply invisible absolute right-0 top-1/2 z-10 -translate-y-1/2 translate-x-[calc(100%_+_15px)] rounded border border-blue-400 bg-white px-2 py-0.5 text-blue-400 shadow-md transition-all hover:bg-slate-100;
    }

    &:hover > span.absolute_right {
      @apply visible;
    }
  }
}
